.form_card {
    margin-top: 60px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list_error {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}