// BoxCreditAccount.tsx
.divider {
    border: 1px solid #dfe0e3;
    border-radius: 100px;
    height: 18px;
    margin-left: 0.75rem;
    margin-right: 0.5rem;
}

// Box 
.box_padding {
    padding: 0.5rem 1rem;
}

.checked {
    position: absolute;
    top: 15px;
    right: 10px;
}


.icon_folder {
    font-size: 24px;
    margin-right: 5px;
}
