.navbar {
    margin-top: 5px;
    background-color: var(--white-color);
    // display: flex;
    justify-content: center;
    .navbar_container {
        border-bottom: 2px solid rgb(222, 221, 221);
        width: 100%;
        display: flex;
        align-items: center;
        .navbar_item {
            cursor: pointer;
            color: #65676B;
            height: 54px;
            padding: 0px 16px;
            // font-size: 15px;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: relative;
            margin: 3px 0;
            .underline {
                border-top-left-radius: 1px;
                border-top-right-radius: 1px;
                background-color: hsl(214, 89%, 52%);
                height: 3px;
                position: absolute;
                bottom: -3px;
                left: 0;
                right: 0;
            }
            .title_active {
                color: hsl(214, 89%, 52%);
            }
            &:hover {
                border-radius: 6px;
                background-color: rgba(0, 0, 0, 0.05); 
            }
        }
    }
}


// Paging

.arrow {

    font-size: 16px;
    display: block;
    padding-top: 2px;

    cursor: default;
    &:hover {
        color: #697a8d;
        background-color: #f0f2f4;
        border: 0px solid #d9dee3;
    }

    &.active {
        color: #696cff;
        &:hover {
            color: black;
            background-color: #e1e4e8;
            border-color: rgba(67, 89, 113, 0.3);
        }
    }
    span {
        display: inline-block;
        padding-top: 2px;
    }


}

.page_size {
    color: #696cff !important;
    border: 1px solid #696cff !important;
    margin-left: 15px !important;
    margin-right: 10px !important;
    background-color: transparent;
    cursor: default;
    &:hover {
        color: black;
        border: 1px solid #696cff !important;
        background-color: transparent;
        color: #696cff;
    }
}
